<!DOCTYPE html>
<html>
  <head>
    <title>SkyvergePage</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
<nav class="navbar navbar-inverse" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <div class="navbar-brand"><h1>Wil Santana | SkyVerge Cover Page</h1></div>
    </div>

      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to 'https://www.linkedin.com/in/wil-santana-3992559/' do %>
        <%= image_tag 'li.png', class: 'social-button' %>
        <% end %></li>

        <li><%= link_to 'https://twitter.com/fredosantana227' do %>
        <%= image_tag 'tw.png', class: 'social-button' %>
        <% end %></li>

        <li><%= link_to 'https://medium.com/@santana.wil' do %>
        <%= image_tag 'md.png', class: 'social-button' %>
        <% end %></li>

        <li><%= link_to 'https://github.com/fredosantana' do %>
        <%= image_tag 'gh.png', class: 'social-button' %>
        <% end %></li> 

        <li><%= link_to 'https://www.facebook.com/wil.santana' do %>
        <%= image_tag 'fb.png', class: 'social-button' %>
        <% end %></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

    <%= yield %>
  </body>
</html>
